In [2]:
# MySQL Update

# MySQL Connection
import mysql.connector as connector

mydb = connector.connect(
    host="db4free.net",
    user="bilgeadam",
    password="bilgeadam",
    database="bilgeadam_test")

mycursor = mydb.cursor() # create a cursor to use database

sql_command = "UPDATE products SET price=15 WHERE name='su'"

mycursor.execute(sql_command)

try:
    mydb.commit()
except connector.Error as err:
    print('hata: ', err)
    
    
mydb.close()

In [3]:
#MySQL Update (parametric)

# MySQL Connection
import mysql.connector as connector

mydb = connector.connect(
    host="db4free.net",
    user="bilgeadam",
    password="bilgeadam",
    database="bilgeadam_test")

mycursor = mydb.cursor() # create a cursor to use database

sql_command = "UPDATE products SET description=%s WHERE name=%s"

parameters = ("içilmez", "su",)
mycursor.execute(sql_command, parameters)

try:
    mydb.commit()
except connector.Error as err:
    print('hata: ', err)
    
    
mydb.close()

In [4]:
# MySQL Delete Row(s)

# MySQL Connection
import mysql.connector as connector

mydb = connector.connect(
    host="db4free.net",
    user="bilgeadam",
    password="bilgeadam",
    database="bilgeadam_test")

mycursor = mydb.cursor() # create a cursor to use database

sql_command = "DELETE FROM products WHERE price >= 2000"

mycursor.execute(sql_command)

try:
    mydb.commit()
except connector.Error as err:
    print('hata: ', err)
    
    
mydb.close()

In [7]:
# MySQL Add a new column to table

# MySQL Connection
import mysql.connector as connector

mydb = connector.connect(
    host="db4free.net",
    user="bilgeadam",
    password="bilgeadam",
    database="bilgeadam_test")

mycursor = mydb.cursor() # create a cursor to use database

sql_command = "ALTER TABLE products ADD category_id VARCHAR(255);"

mycursor.execute(sql_command)

try:
    mydb.commit()
except connector.Error as err:
    print('hata: ', err)
    
    
mydb.close()

In [17]:
# MySQL Add a new column to table

# MySQL Connection
import mysql.connector as connector

mydb = connector.connect(
    host="db4free.net",
    user="bilgeadam",
    password="bilgeadam",
    database="bilgeadam_test")

mycursor = mydb.cursor() # create a cursor to use database

sql_command = "UPDATE products SET category_id=%s WHERE name=%s"


params = ("0", "armut")
mycursor.execute(sql_command, params)

try:
    mydb.commit()
except connector.Error as err:
    print('hata: ', err)
    
    
mydb.close()

In [21]:
# MySQL Connection
import mysql.connector as connector


mydb = connector.connect(
    host="db4free.net",
    user="bilgeadam",
    password="bilgeadam",
    database="bilgeadam_test")

mycursor = mydb.cursor() # create a cursor to use database

mycursor.execute("CREATE TABLE categories(name VARCHAR(255),id VARCHAR(255))")
try:
    mydb.commit()
except connector.Error as err:
    print('hata: ', err)
    
mydb.close()

In [22]:
mydb = connector.connect(
    host="db4free.net",
    user="bilgeadam",
    password="bilgeadam",
    database="bilgeadam_test")

mycursor = mydb.cursor() # create a cursor to use database

insert_sql = "INSERT INTO categories(name, id) VALUES(%s, %s)"

mycursor.execute(insert_sql, ("Yiyecek", "0"))
mycursor.execute(insert_sql, ("Temizlik", "1"))
mycursor.execute(insert_sql, ("Ev/Dekorasyon", "3"))
mycursor.execute(insert_sql, ("İçecek", "4"))
    
try:
    mydb.commit() # değişiklikler database'e yansıtılıyor.
    print("{} tane kayıt eklendi.".format(mycursor.rowcount))
    print("son eklenen kaydın id numarası: {}".format(mycursor.lastrowid))
except connector.Error as err:
    print("hata:", err)
    
    

mydb.close()

1 tane kayıt eklendi.
son eklenen kaydın id numarası: 0

In [29]:
mydb = connector.connect(
    host="db4free.net",
    user="bilgeadam",
    password="bilgeadam",
    database="bilgeadam_test")

mycursor = mydb.cursor() # create a cursor to use database

#sql_command = "SELECT * FROM products INNER JOIN categories ON categories.id = products.category_id"
sql_command = "SELECT products.name, price, categories.name FROM products INNER JOIN categories ON categories.id = products.category_id"

mycursor.execute(sql_command)

try:
    result = mycursor.fetchall()
    for r in result:
        print(r)
except connector.Error as err:
    print("hata:", err)
    
mydb.close()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.name FROM products INNER JOIN categories ON categories.id = products.category_i' at line 1